@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'iranYekan';
    src: local('iranYekan'), url(./assets/fonts/IRANYekanXFaNum-Regular.woff2) format('woff2');
  }

@layer base {
  html {
    font-family: 'iranYekan';
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  ::-webkit-scrollbar-thumb {
    background: #1e40af;
    border-radius: 5px;
  }

}